.cafe-locator {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;

	&__submit {
		display: inline-block;
		flex: 0 0 6em;
		color: #3c3c3c;
		font-weight: bold;
		margin-left: 1em;
	}

	&__search {
		display: inline-block;
		max-width: 20em;
		flex: auto;
	}

}