input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="number"],
select,
textarea {
    //display: block;
    width: 100%;
    margin: .5em 0;
    padding: 1em;
    border: 1px solid #ccc;
    line-height: 1em;
}

