{% extends 'base.html' %}

{% block layout %}

    <header>
    </header>

    {% block main %}
    {% endblock %}

    <footer class="footer">
      <ul class="footer_list">
        <li class="footer_item"><a class="footer_link" href="#">Twitter</a></li>
        <li class="footer_item"><a class="footer_link" href="#">Facebook</a></li>
        <li class="footer_item"><a class="footer_link" href="#">Medium</a></li>
        <li class="footer_item"><a class="footer_link" href="#">Github</a></li>
      </ul>
      <ul class="footer_list">
        <li class="footer_item"><a class="footer_link" href="#">Link 1</a></li>
        <li class="footer_item"><a class="footer_link" href="#">Link 2</a></li>
        <li class="footer_item"><a class="footer_link" href="#">Link 3</a></li>
      </ul>
      <div class="footer_copyright">
        <p>Copyright &#xA9; Women Hack For Non-Profits 2016.</p>
      </div>
    </footer>

{% endblock %}
