{% extends 'base.html' %}

{% block layout %}

    <header>
    </header>

    {% block main %}
    {% endblock %}

    <footer class="footer">
      <ul class="footer_list">
        <li class="footer_item"><a class="footer_link" href="#">Link 1</a></li>
        <li class="footer_item"><a class="footer_link" href="#">Link 2</a></li>
        <li class="footer_item"><a class="footer_link" href="#">Link 3</a></li>
      </ul>
      <ul class="footer_list">
        <li class="footer_item"><a class="footer__link" href="https://twitter.com/WHFNP"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
        <li class="footer_item"><a class="footer__link" href="https://www.facebook.com/whfnp/"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></li>
        <li class="footer_item"><a class="footer__link" href="https://blog.womenhackfornonprofits.com/"><i class="fa fa-medium" aria-hidden="true"></i> Medium</a></li>
        <li class="footer_item"><a class="footer__link" href="https://github.com/womenhackfornonprofits"><i class="fa fa-github" aria-hidden="true"></i> Github</a></li>
      </ul>
      <p>Copyright &#xA9; Women Hack For Non-Profits 2016.</p>
    </footer>

{% endblock %}
