{% extends 'base.html' %}

{% block layout %}

    <header class="header">
      <div class="header__logo">
        <img class="header__img" src="">
      </div>
      
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__link">
             <a href="/" title="">Home</a>
          </li>
          <li class="header__link">
            <a href="#" title="">Search</a>
          </li>
          <li class="header__link">
            <a href="#" title="">About Us</a>
          </li>
        </ul>
      </nav>
    </header>

    {% block main %}
    {% endblock %}

    <footer class="footer">
      <ul class="footer_list">
        <li class="footer_item"><a class="footer_link" href="#">Link 1</a></li>
        <li class="footer_item"><a class="footer_link" href="#">Link 2</a></li>
        <li class="footer_item"><a class="footer_link" href="#">Link 3</a></li>
      </ul>
      <ul class="footer_list">
        <li class="footer_item"><a class="footer__link" href="#">Twitter</a></li>
        <li class="footer_item"><a class="footer__link" href="#">Facebook</a></li>
        <li class="footer_item"><a class="footer__link" href="#">Medium</a></li>
        <li class="footer_item"><a class="footer__link" href="#">Github</a></li>
      </ul>
      <p>Copyright &#xA9; Women Hack For Non-Profits 2016.</p>
    </footer>

{% endblock %}
